/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font);
  font-weight: var(--card-text-weight);
  font-variation-settings: 'wght' var(--card-text-weight);
}

.header {
  width: var(--header-width);
  height: var(--header-height);
  margin: 0 auto;
  background-color: aqua; /*Заменить на var(--bacground-color)*/
  border: 2px solid var(--main-color);
  margin-top: 100px;
  margin-bottom: 100px;
  padding: var(--header-padding-left-and-right) var(--header-padding-top-and-bottom);
}

.header__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  font-family: var(--accent-font);
  text-transform: uppercase;
  color: var(--main-color);
}

.header__title {
  font-size: clamp(49px, calc(49px + 1.5vw), 65px);
}

.header__subtitle {
  font-size: clamp(14px, calc(14px + 0.85vw), 23px);
}

@media (width <= 768px) {
  :root {
    --header-width: 100%;
  }
}
