/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --accent-font: 'PressStart2P', monospace;
    --main-font: 'Inter', sans-serif;
    --card-text-weight: 400;
    --card-title-weight: 700;

    --header-width: clamp(375px, calc(375px + (700 - 375) * (100vw - 375px) / (1440 - 375)), 700px);
    --header-height: clamp(327px, calc(375px + 30.5vw), 368px); /*Убрать*/
    --header-padding-left-and-right: clamp(14px, calc(14px + 106.5 * (100vw - 375px) / 1065), 120.5px);
    --header-padding-top-and-bottom: clamp(120px, calc(120px + 8 * (100vh - 667px) / 293), 128px);

    --card-width: clamp(375px, calc(375px + (700 - 375) * (100vw - 375px) / (1440 - 375)), 700px);

    --card-font-size: 18px;
    
    --main-color: #000;
    --background-color: #fff;
    --label-stroke-color: #000; /*Заменил на черный, чтобы не сливалось*/
    --button-text-color: var(--background-color);

    --background-image: 
        repeating-linear-gradient(
            to right, 
            #d3d3d3 0 2px,
            transparent 2px 4px
        ),
        repeating-linear-gradient(
            to bottom, 
            #d3d3d3 0 2px,
            transparent 2px 4px
        ),
        linear-gradient(
            #e7e7e7 0.01%, 
            #1a1a1a
        );

    /*Добавить border*/
}